# Python Basics

In [1]:
1+3

4

In [2]:
4%2

0

In [3]:
5//2

2

In [4]:
5/2

2.5

In [5]:
5+5+3*2

16

a=10
b=20
c=a+b
type(c)

In [9]:
#Boolean
True or False

True

In [11]:
type(True and True)

bool

In [12]:
True | False

True

In [15]:
a=10
b=20
a+b>30 | a-b<10

True

# STRINGS

Never use reserve keywords.

In [16]:
type("Krish")

str

In [18]:
str(1)

'1'

In [3]:
str1="x"
print(str1)

x

In [5]:
str1='Good Boy'
str2='Bad Boy'
print(str1)
print(str2)

print(str1), print(str2)

Good Boy
Bad Boy
Good Boy
Bad Boy

(None, None)

In [8]:
str1+ ", " + str2

'Good Boy, Bad Boy'

In [24]:
name=input("Enter Name ")
print(name)

a=float(input("Enter 1:"))
b=float(input("Enter 2:"))
print("Addition = {}".format(a+b))
print('The output is', float(a+b))

Enter Name Balu
Balu
Enter 1:23.34
Enter 2:34.45
Addition = 57.790000000000006
The output is 57.790000000000006

# String formatting

In [32]:
first_name = input("First Name : ")
last_name = input("Last Name : ")
print("Welcome to Amazon,{fname} {lname}".format(fname=first_name,lname=last_name))

First Name : Balu
Last Name : Raja
Welcome to Amazon,Balu Raja

# Variable Dynamic Typing

You don't have to specify the data type like in other programming language. It automatically traces int, str, etc

# Conditional Statements

# if, else, elif

In [3]:
#Not Working

k=int(input("Enter number "))
l=int(input("Enter number2 "))
m=k-l
print("Result is",m)
if m<0:
    print("Negative Result")
elif m>0:
    print("Positive Result")
else:
    print("Zero")

Enter number 30
Enter number2 55
Result is -25
Negative Result

#  Data Structures
1. List,  2.Tuple, 3.String, 4.Dictionary, 5.Sets

In [12]:
#1 List:

lst=[1,3,4,"krishna", 45.10]
#list((1,3,4,"krishna", 45.10))

lst[2]

lst.append("Jai")
lst

lst[2]="Data Science"
lst.append("Jai")
lst

[1, 3, 'Data Science', 'krishna', 45.1, 'Jai', 'Jai']

In [14]:
lst.count('Jai')

2

In [3]:
# INDEXING

str11 = "Eleven"

# str[3]='f' CANT DO THIS COZ STRINGS ARE IMMUTABLE